<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="App logo"
    src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fthenounproject.com%2Fterm%2Ftech%2F&psig=AOvVaw1IhzVECo3bg2RHliHCTLsa&ust=1605799701297000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMio_Ju0jO0CFQAAAAAdAAAAABAI"
    />
  <span>GC Wehmeyer - Project2</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-size">
    <span>Enter Username and Password to continue:</span>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <span>Enter Username and Password to continue:</span>
    <span>Username: </span>
    <input (keyup)="onKey($event)">
    <p>{{values}}</p>
    <span>Password: </span>
    <input (keyup)="onKey($event)">
      <p>{{values}}</p>
    <button (click)="loginClick($event)" type="button">Login</button> -->
